@tailwind base;
@tailwind components;
@tailwind utilities;


.mytable {
	overflow-x: auto;
	white-space: nowrap;
    @apply md:container mx-auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  /* Track */
::-webkit-scrollbar-track {
background: lightgray;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #FAA61A;
border-radius: 10px;
}